@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.avatar-list label {
  margin: 0;
}

.avatar-img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.2s;
}

#avatarImage:hover {
  opacity: 0.8;
  cursor: pointer;
}

.avatar-img:hover {
  transform: scale(1.5);
}
