@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.avatar-list label {
  margin: 0;
}

.avatar-img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.2s;
}

#avatarImage:hover {
  opacity: 0.8;
  cursor: pointer;
}

.avatar-img:hover {
  transform: scale(1.5);
}

.image-container-login {
  position: relative;
}

.overlay-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the last value to change the opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay-login p {
  color: #000; /* Change the text color */
  font-size: 24px; /* Adjust the font size */
}

.footer-orlaRendered {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8; /* Set the background color of the footer */
  padding: 10px; /* Add padding to space the buttons */
  text-align: center;
}

.footer-orlaRendered a {
  margin: 0 10px; /* Adjust the margin between buttons */
}
