<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Orlas</title>
    <style>
      {% include 'orla.css' %}
    </style>
  </head>
  <body>
    <div id="profes">
      {% for i in 0..4 %}
      <img
        src="https://images.pexels.com/photos/2880979/pexels-photo-2880979.jpeg?cs=srgb&dl=pexels-anand-raj-2880979.jpg&fm=jpg"
        alt=""
        width="100"
      />
      {% endfor %}
    </div>

    <hr />

    <div id="alumnes">
      {% for i in 0..9 %}
      <img
        src="https://img.freepik.com/foto-gratis/concepto-graduacion-retrato-mujer-feliz_23-2148201894.jpg"
        alt=""
        width="100"
      />
      {% endfor %}
    </div>
  </body>
</html>
