<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Orlas</title>
    <style>
      {% include 'orla.css' %}
    </style>
  </head>
  <body>
    <div id="profes">
      {% for i in role2Users %} {% block users %}
      <img src="{{ i.link }}" alt="" />
      {{ i.name }}
      {% endblock %} {% endfor %}
    </div>

    <hr />
    <div id="alumnes">
      {% for i in role1Users %}
      {{ block("users") }}
      {% endfor %}
    </div>
  </body>
</html>
