body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/img/fonsOrles.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#profes,
#alumnes {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.user {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 150px;
  object-fit: cover;
}

p {
  margin: 10px 0 0 0;
}

hr {
  border: 1px solid #ffffff;
  width: 700px;
}

body,
h1,
p,
img {
  margin: 0;
  padding: 0;
}
